$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//$background-color: #4e4e4e;
//$font-color: #dfdfdf;
$black: #000;
$align-content: center;
$height: 80px;
$margin: 30px;

body {
  background-color: #CDBFCB;
  text-align: center;
}

.box {
  border: 1px solid $black;
  height: $height;
}

.container {
  align-content: $align-content;
  margin: auto;
}

.logout {
  display: inline-block;
}

.status {
  font-size: 30px;
  color: #615296
}

h1 {
font-family: 'bookman';
font-size: 45px;
}

.auth-form {
  display: inline-block;
  margin: 40px;
}
.cell {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  font-weight: bold;

}
